:root {
  font-size: 17px;
}

html,
body {
  margin: 0;
  padding: 0.4em;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Avenir, 'Avenir Next',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: monospace; */
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  line-height: 1.4em;
}

h2 {
  font-weight: bolder;
  color: #1e1f20;
}

h1,
h2,
h3 {
  font-family: monospace;
}

pre {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.cf:before,
.cf:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
